{% load static %}
<div class="container-fluid menuAdmin" style="background-color: rgb(0, 160, 0); border-radius: 10px;">
  <nav class="navbar navbar-expand ">
      <!-- Links -->
      <ul class="navbar-nav" >
          
            <div class="iconoAdmin">
                <a href="/inicioAsis">
                    <img src="{% static 'images/gesUsuario.jpg' %}" alt="Imagen redonda" >
                </a>
            </div>
          
          <li class="nav-item">
              <a class="nav-link" style="color: rgb(200, 200, 200);" href='/inicioAsis'>Asistente</a>
          </li>
          
          <li class="nav-item">
              <a class="nav-link" style="color: rgb(200, 200, 200);" href="/vistaGestionarDevolutivos">Gestionar Elementos Devolutivos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" style="color: rgb(200, 200, 200);" href="/vistaRegistrarMaterial">Registrar Material</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" style="color: rgb(200, 200, 200);" href="/vistaEntradaMaterial">Entrada Material</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" style="color: rgb(200, 200, 200);" href="/inicioAsis">Gestionar Solicitudes</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" style="color: rgb(200, 200, 200);" href="/ ">Salir</a>
          </li>
      </ul>
  </nav>
</div>
